.header {
  // margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #272424;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  @media (max-width: $mobile--width) {
    margin-bottom: 30px;
  }

  .multisend-container {
    @extend %flex-between;
    align-items: center;
    // justify-content: flex-end;
    flex-wrap: wrap;
  }

  .form {
    flex-wrap: inherit;
    padding-top: 0;

    .multisend-label {
      @extend %control-font;
      display: inline-block;
      // margin-bottom: 20px;
      text-align: left;
      white-space: nowrap;
      color: white !important;
  
      .form_header & {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }


  &-logo {
    //@include image-2x('../images/logo.png');
    // display: none;
    font-size: 22px;
    text-decoration: none;
    //background-image: url(../images/logo.png);

    @media (max-width: $container-responsive--width) {
      width: 36px;
      background-size: 200px 100%;
    }
  }
}
